body {
    background-color: darkblue;
    color: white;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-around;
    background-color: rgb(8, 9, 29);
}
nav ul{
   display: flex;
   justify-content: center;
}
nav ul li{
    list-style-type: none;
    margin: 0 23px;
    text-decoration: none;
}
nav ul li a{
    text-decoration: none;
    box-shadow: inset;
    
}
 a:hover{
    color: rgb(5, 17, 17);
    background-color: aqua;
    border-radius: 4px;
}
.left{
    font-size: 30px;
}
firstsection{
    display: flex;
    margin: 23px 0;
}
firstsection div{
    width: 30%;
}
.leftsection{
    color:rgb(123, 232, 123);
   
}
.rightsection img{
    text-align: right;
}
img{
    width:1500px;
    height: 500px;

}
#inp{
    margin-left: 90px;
    padding-left: 30px;
    border-radius: 5px;
    border-color: rgb(235, 83, 83);
    border-width: 5px;
    font-size: 20px;
}
#button{
    width: 100px;
    margin-left: 20px;
    border-radius: 5px;
    border-width: 4px;
    border-color:goldenrod;
}